.film-cards__pagination{
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}
.pagination{
    &__arrow{
    background-repeat: no-repeat;
    background-color: transparent;
    background-color: getColor('second-background');
    background-position: 50%;
    }
    &__button{
        border-radius: 5px;
        padding-top: 14px;
        font-size: 12px;
        width: 40px;
        height: 40px;
        &:hover{
            cursor: pointer;
            background-color: getColor('second-background');
        }  
    }
}


.left{
        background-image: url("../../public/svg/left-arrow.svg");
        
    }
.right {
             background-image: url("../../public/svg/right_arrow.svg");
         }
         
.selected{
    background-color: getColor('button-color');
    &:hover{
        background-color: getColor('button-color');
    }
}